.markdown-body {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "メイリオ",
    sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: inherit;
}

/* 見出しのスタイル */
h1 {
  color: #333;
  margin-bottom: 20px;
}

h2 {
  color: #555;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* リストのスタイル */
ul {
  list-style-type: disc;
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

li {
  margin-bottom: 8px;
}
